  
  {% extends "app/base.html" %}

    {% block css %}
    {% load static %}
    <link href="{% static 'app/styleMain.css' %}" rel="stylesheet">
    {% endblock %}
    {% block content %}
      <div class="container">
        <h2>Recomendaciones</h2>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              {% for movie, cast in zip_cast123 %}
                <input type="image" src={{ movie.url_poster }} data-toggle="modal" data-target= "#{{movie.id}}"/>
              {% endfor %}
            </div>

            <div class="item">
              {% for movie, cast in zip_cast456 %}
              <input type="image" src={{ movie.url_poster }} data-toggle="modal" data-target="#{{movie.id}}" />
              {% endfor %}
            </div>
            <div class="item">
              {% for movie, cast in zip_cast789 %}
              <input type="image" src={{ movie.url_poster }} data-toggle="modal" data-target="#{{movie.id}}" />
              {% endfor %}
            </div>
          </div>
      
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </a>
        </div>
      
      
      
      
        <!-- Modals -->
        {% for movie, cast in zip_cast123 %}
        <div class="modal fade" id="{{movie.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">{{ movie.title }}</h3>
              </div>
              <div class="modal-body">
                <p>
                  {{ movie.summary }}
                </p>
                <hr />
                <p>
                  <strong>Director: </strong>{{ movie.director }}
                </p>
                <p>
                  <strong>Reparto: </strong>
                  <ul>
                    <li type="disc">{{ cast.actor1 }}</li>
                    <li type="disc">{{ cast.actor2 }}</li>
                    <li type="disc">{{ cast.actor4 }}</li>
                    <li type="disc">{{ cast.actor5 }}</li>
                  </ul>
                </p>
                <p>
                  <strong>Valoración: </strong>{{ movie.rate }} / 10
                </p>
              
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <a role="button" class="btn btn-primary" href="{{ movie.url_movie }}">Reproducir</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        {% for movie, cast in zip_cast456 %}
        <div class="modal fade" id="{{movie.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">{{ movie.title }}</h3>
              </div>
              <div class="modal-body">
                <p>
                  {{ movie.summary }}
                </p>
                <hr />
                <p>
                  <strong>Director: </strong>{{ movie.director }}
                </p>
                <p>
                  <strong>Reparto: </strong>
                  <ul>
                    <li type="disc">{{ cast.actor1 }}</li>
                    <li type="disc">{{ cast.actor2 }}</li>
                    <li type="disc">{{ cast.actor4 }}</li>
                    <li type="disc">{{ cast.actor5 }}</li>
                  </ul>
                </p>
                <p>
                  <strong>Valoración: </strong>{{ movie.rate }} / 10
                </p>
        
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <a role="button" class="btn btn-primary" href="{{ movie.url_movie }}">Reproducir</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

        {% for movie, cast in zip_cast789 %}
        <div class="modal fade" id="{{movie.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="myModalLabel">{{ movie.title }}</h3>
              </div>
              <div class="modal-body">
                <p>
                  {{ movie.summary }}
                </p>
                <hr />
                <p>
                  <strong>Director: </strong>{{ movie.director }}
                </p>
                <p>
                  <strong>Reparto: </strong>
                  <ul>
                    <li type="disc">{{ cast.actor1 }}</li>
                    <li type="disc">{{ cast.actor2 }}</li>
                    <li type="disc">{{ cast.actor4 }}</li>
                    <li type="disc">{{ cast.actor5 }}</li>
                  </ul>
                </p>
                <p>
                  <strong>Valoración: </strong>{{ movie.rate }} / 10
                </p>
        
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <a role="button" class="btn btn-primary" href="{{ movie.url_movie }}">Reproducir</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      {% endblock %}
    
    <!-- Scripts jquery -->
      {% block js %}
        <script src="{% static 'app/scriptMain.js' %}"></script>
        <script src="{% static 'app/scriptMostrarPelicula.js' %}"></script>
      {% endblock %}
 
