
{% extends "app/base.html" %}

  {% block css %}
    {% load static %}
    <link href="{% static 'app/styleMain.css' %}" rel="stylesheet">
  {% endblock %}

  {% block content %}
<div class="container">
  <div class="input-group">
    {% for movie,cast in movies %}
      <input type="image" src= {{ movie.url_poster }} data-toggle="modal" data-target="#{{movie.id}}" />
    {% endfor %}
  </div>

  <!-- Modal1 -->
  {% for movie, cast in movies %}
  <div class="modal fade" id="{{movie.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">{{ movie.title }}</h3>
        </div>
        <div class="modal-body">
          <p>
            {{ movie.summary }}
          </p>
          <hr />
          <p>
            <strong>Director: </strong>{{ movie.director }}
          </p>
          <p>
            <strong>Reparto: </strong>
            <ul>
              <li type="disc">{{ cast.actor1 }}</li>
              <li type="disc">{{ cast.actor2 }}</li>
              <li type="disc">{{ cast.actor4 }}</li>
              <li type="disc">{{ cast.actor5 }}</li>
            </ul>
          </p>
          <p>
            <strong>Valoración: </strong>{{ movie.rate }} / 10
          </p>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <a role="button" class="btn btn-primary" href="{{ movie.url_movie }}">Reproducir</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}






  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">Guardians of the galaxy</h3>
        </div>
        <div class="modal-body">
          <p>
            Light years from Earth, 26 years after being abducted, Peter Quill finds himself the prime target of a
            manhunt after discovering an orb wanted by Ronan the Accuser.
          </p>
          <hr />
          <p>
            <strong>Director: </strong>James Gunn
          </p>
          <p>
            <strong>Reparto: </strong>
            <ul>
              <li type="disc">Chris Patt</li>
              <li type="disc">Zoe Saldana</li>
              <li type="disc">Dave Bautista</li>
              <li type="disc">Vin Diesel</li>
              <li type="disc">Bradley Cooper</li>
            </ul>
          </p>
          <p>
            <strong>Valoración: </strong>7.9 / 10
          </p>
          <p>
            <strong>Año: </strong>30-07-2014
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Reproducir</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal2 -->
  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">Guardians of the Galaxy Vol. 2</h3>
        </div>
        <div class="modal-body">
          <p>
            The Guardians must fight to keep their newfound family together as they unravel the mysteries of Peter
            Quill's true parentage.
          </p>
          <hr />
          <p>
            <strong>Director: </strong>James Gunn
          </p>
          <p>
            <strong>Reparto: </strong>
            <ul>
              <li type="disc">Chris Patt</li>
              <li type="disc">Zoe Saldana</li>
              <li type="disc">Dave Bautista</li>
              <li type="disc">Vin Diesel</li>
              <li type="disc">Bradley Cooper</li>
            </ul>
          </p>
          <p>
            <strong>Valoración: </strong>7.7 / 10
          </p>
          <p>
            <strong>Año: </strong>19-04-2017
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Reproducir</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal3 -->
  <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">Guardians of the Tomb</h3>
        </div>
        <div class="modal-body">
          <p>
            An innocent discovery of a well-preserved mummified Emperor from 200 BC China unearths a 2000 year old
            nightmare - a secret that should have remained buried.
          </p>
          <hr />
          <p>
            <strong>Director: </strong>Kimble Rendall
          </p>
          <p>
            <strong>Reparto: </strong>
            <ul>
              <li type="disc">Li Bingbing</li>
              <li type="disc">Kellan Lutz</li>
              <li type="disc">Dave Bautista</li>
              <li type="disc">Kelsey Grammer</li>
              <li type="disc">Wu Chun</li>
            </ul>
          </p>
          <p>
            <strong>Valoración: </strong>5.2 / 10
          </p>
          <p>
            <strong>Año: </strong>21-11-2012
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Reproducir</button>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

    
    <!-- Scripts jquery -->
    {% block js %}
    <script src="{% static 'app/scriptMain.js' %}"></script>
    <script src="{% static 'app/scriptMostrarPelicula.js' %}"></script>
    {% endblock %}
