
{% extends "app/base.html" %}

  {% block css %}
    {% load static %}
    <link href="{% static 'app/styleMain.css' %}" rel="stylesheet">
  {% endblock %}
  {% block content %}

    <div class="container table-resposive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">URL de la película</th>
            <th scope="col">Descripción</th>
            <th scope="col">Director</th>
            <th scope="col">Reparto</th>
            <th scope="col">URL de la portada</th>
            <th scope="col">Valoración</th>
            <th scope="col">Administrar</th>
          </tr>
        </thead>
        <tbody>
          {% for movie, cast in movies %}
          <tr>
            <th scope="row">{{ movie.title }}</th>
            <td>{{ movie.url_movie }}</td>
            <td>{{ movie.summary }}</td>
            <td>{{movie.director}}</td>
            <td>
              <ul>
                <li type="disc">{{cast.actor1}}</li>
                <li type="disc">{{cast.actor2}}</li>
                <li type="disc">{{cast.actor4}}</li>
                <li type="disc">{{cast.actor5}}</li>
              </ul>
            </td>
            <td>{{movie.url_poster}}</td>
            
            <td>{{movie.rate}}</td>
            <td>
              <button type="button" class="btn btn-primary row" >
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-primary" >
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          {% endfor %}
          
        </tbody>


      </table>
    </div>

      {% endblock %}
      
      <!-- Scripts jquery -->
      {% block js %}
      <script src="{% static 'app/scriptMain.js' %}"></script>
      {% endblock %}
