{% extends "app/base.html" %}

  {% block css %}
    {% load static %}
    <link href="{% static 'app/styleMain.css' %}" rel="stylesheet">
  {% endblock %}
  {% block content %}

    <div class="container table-resposive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre de usuario</th>
            <th scope="col">Correo electónico</th>
            <th scope="col">Administrar</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <th scope="row">{{user.username}}</th>
            <td>{{user.email}}</td>
            <td>
              <button type="button" class="btn btn-primary" >
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-primary" >
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
          {% endfor %}

      {% endblock %}
      
      <!-- Scripts jquery -->
      {% block js %}
      <script src="{% static 'app/scriptMain.js' %}"></script>
      {% endblock %}
