<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="pantalla que lista las películas del sistema que coinciden con la palabra clave">
    <meta name="author" content="Alfonso Fontan Rivas">
    <title>Videoclub</title>
    <!-- Bootstrap core CSS -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="styles/styleMain.css" rel="stylesheet">

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="main.html">Video<strong>club</strong></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="dropdown" id="menuUser">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Usuarios</a>
                <ul class="dropdown-menu" id="subMenuUser">
                  <li><a href="addUser.html">Alta</a></li>
                  <li><a href="adminUsers.html">Administrar</a></li>
                </ul>
            <li class="dropdown" id="menuPeli">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Películas</a>
                <ul class="dropdown-menu" id="subMenuPeli">
                  <li><a href="addMovie.html">Añadir</a></li>
                  <li><a href="adminMovie.html">Administrar</a></li>
                </ul>
          </ul>
          <form class="navbar-form navbar-left" action="mostrarPelicula.html">
            <div class="input-group">
              <input type="text" class="form-control" required="" placeholder="Buscar película" name="search">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="login.html">Cerrar sesión <span class="glyphicon glyphicon-log-out"></span></a></li>
        </ul>
        </div>
      </div>
    </nav>

    <div class="container table-resposive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">URL de la película</th>
            <th scope="col">Descripción</th>
            <th scope="col">Director</th>
            <th scope="col">Reparto</th>
            <th scope="col">URL de la portada</th>
            <th scope="col">Año</th>
            <th scope="col">Valoración</th>
            <th scope="col">Administrar</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Guardians of the Galaxy</th>
            <td>https://www.youtube.com/embed/dzj4P11Yr6E</td>
            <td>Light years from Earth, 26 years after being abducted, Peter Quill finds himself the prime target of a manhunt after discovering an orb wanted by Ronan the Accuser.</td>
            <td>James Gunn</td>
            <td>
              <ul>
                <li type="disc">Chris Patt</li>
                <li type="disc">Zoe Saldana</li>
                <li type="disc">Dave Bautista</li>
                <li type="disc">Vin Diesel</li>
                <li type="disc">Bradley Cooper</li>
              </ul>
            </td>
            <td>http://image.tmdb.org/t/p/w342/y31QB9kn3XSudA15tV7UWQ9XLuW.jpg</td>
            <td>30-07-2014</td>
            <td>7.9</td>
            <td>
              <button type="button" class="btn btn-primary row" >
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-primary" >
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </td>
          </tr>

          <tr>
            <th scope="row">Guardians of the Galaxy Vol. 2</th>
            <td>https://www.youtube.com/embed/wUn05hdkhjM</td>
            <td>The Guardians must fight to keep their newfound family together as they unravel the mysteries of Peter Quill's true parentage.</td>
            <td>James Gunn</td>
            <td>
              <ul>
                <li type="disc">Chris Patt</li>
                <li type="disc">Zoe Saldana</li>
                <li type="disc">Dave Bautista</li>
                <li type="disc">Vin Diesel</li>
                <li type="disc">Bradley Cooper</li>
              </ul>
            </td>
            <td>http://image.tmdb.org/t/p/w342/y4MBh0EjBlMuOzv9axM4qJlmhzz.jpg</td>
            <td>19-04-2017</td>
            <td>7.7</td>
            <td>
              <button type="button" class="btn btn-primary row" >
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-primary" >
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </td>
          </tr>

          <tr>
            <th scope="row">Guardians of the Tomb</th>
            <td>https://www.youtube.com/embed/94KxLh5SL1M</td>
            <td>An innocent discovery of a well-preserved mummified Emperor from 200 BC China unearths a 2000 year old nightmare - a secret that should have remained buried.</td>
            <td>Kimble Rendall</td>
            <td>
              <ul>
                <li type="disc">Li Bingbing</li>
                <li type="disc">Kellan Lutz</li>
                <li type="disc">Dave Bautista</li>
                <li type="disc">Kelsey Grammer</li>
                <li type="disc">Wu Chun</li>
              </ul>
            </td>
            <td>http://image.tmdb.org/t/p/w342/ca799tQJwj4lkkQpBdXohlvEtuQ.jpg</td>
            <td>21-11-2012</td>
            <td>5.2</td>
            <td>
              <button type="button" class="btn btn-primary row" >
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-primary" >
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </tbody>


      </table>
    </div>


    <!-- Scripts jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="scripts/scriptMain.js"></script>
  </body>
</html>
